@font-face {
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../vendor/fonts/CabinetGrotesk-Bold.woff2") format("woff2");
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.cards__text {
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.25;
  align-self: flex-start;
}

.cards__randomize-button {
  width: 100%;
  height: 44px;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
  background-color: #000;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0;
  margin: 20px 0 0;
  visibility: hidden;
}

.cards__randomize-image {
  width: 12px;
  height: 14.78px;
}

@media screen and (max-width: 1439px) {
  .cards__list {
    max-width: 1018px;
  }
}

@media screen and (max-width: 1094px) {
  .cards__list {
    max-width: 672px;
  }
}

@media screen and (max-width: 1094px) {
  .cards__list {
    max-width: 672px;
  }
}

@media screen and (max-width: 750px) {
  .cards__list {
    gap: 15px;
    max-width: 522px;
  }

  .cards__randomize-button {
    visibility: visible;
  }
}

@media screen and (max-width: 553px) {
  .cards__list {
    max-width: 343px;
  }
}

@media screen and (max-width: 374px) {
  .cards__list {
    max-width: 164px;
  }
}
