@font-face {
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../vendor/fonts/CabinetGrotesk-Bold.woff2") format("woff2");
}

.clothes-section {
  margin: 35px 0 -5px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.clothes-section__header {
  display: flex;
  gap: 20px;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.24;
  color: #000;
  margin: 0 0 16px;
}

.clothes-section__items-title {
  margin: 0;
  padding: 0;
}

.clothes-section__add-card-button {
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: opacity 0.5s linear 0s;
  background-color: transparent;
  opacity: 0.6;
}

.clothes-section__add-card-button:hover {
  opacity: 0.3;
}

.clothes-section__items {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 20px;
  max-width: 1015px;
  align-self: center;
}

@media screen and (max-width: 1439px) {
  .clothes-section__items {
    max-width: 1018px;
  }
}

@media screen and (max-width: 1094px) {
  .clothes-section__items {
    max-width: 672px;
  }
}

@media screen and (max-width: 750px) {
  .clothes-section {
    margin: 20px 0 -5px;
  }

  .clothes-section__items {
    gap: 15px;
    max-width: 522px;
  }

  .clothes-section__header {
    justify-content: space-between;
  }
}

@media screen and (max-width: 553px) {
  .clothes-section__items {
    max-width: 343px;
  }
}

@media screen and (max-width: 374px) {
  .clothes-section__items {
    max-width: 164px;
  }
}
